* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;                  
    justify-content: center;        
    align-items: center;            
    width: 100%;
    height: 100vh;                  
    flex-direction: column;        
}

.container h1 {
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    margin: 2rem;
}

.login-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: relative; /* Required for absolute positioning of messages */
}

.login-div input {
    border: 2.5px solid gray;
    border-radius: 5px;
    width: 16rem;
    height: 2rem;
    text-align: left;
    padding: 10px;
}

.error-input{
    border: 2px solid red !important;
    outline: none !important;
}

.msg {
    color: red;
    font-size: 0.9rem;
    margin-top: 10px;
    position: absolute;
    top: 100%; /* Position the message below the button */
    left: 0;
    width: 100%; /* Make the message take the full width */
    text-align: center;
}



